<br/><br/>

<%= link_to "Ajout un docteur", new_doctor_url, :class => "btn btn-primary btn-lg"%>

<br/><br/>


<div style="width: 40%; display: inline-block" >
	<%= render partial: "doctor", collection: @doctors %>
</div>

<div style="width: 40%; display: inline-block" >

</div>